{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<br>
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Retype Password" type="password">
        </div>
        <button style="position: absolute; left: 50%; transform: translateX(-50%)" class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}

